<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Engine</title>
</head>
<body>
    <!-- to reuse the template -->
    <%- include("partials/header")%>
    <h2>Contents coming soon...</h2>
    <p> Username : <%= username %> </p>
    <hr>
    <ul>
        <% posts.forEach(post => {%>
            <li> <%= post.title %> || <%= post.author %></li>
        <% }) %>
    </ul>
</body>
</html>